.comparative-gallery-tree .jstree-icon {
    vertical-align:top;
}
.comparative-gallery-tree a.leaf {
    border : dashed 1px;
    margin-top: 4px;
    margin-bottom: 4px;
    display: inline-block;
    height: auto;
}
